* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: url("images/blue.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

@media screen and (max-width: 678px) {
  body {
    background: url("images/blue.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    
  }
  .container{
    margin-top: -1px !important;
    border-radius: 0px !important;
    height: 100vh !important;
    width: 412px !important;
    background-color: rgba(2, 14, 56, 0.5) !important;
    backdrop-filter: blur(3px) !important;
  }
  h1 {
    text-align: start !important;
    margin-bottom: 20px;
    color: #fff;
    font-size: 60px !important;
}
label {
  font-size: large !important;
  margin-bottom: 5px !important;
}
.form-group {
  margin-bottom: 20px !important;
}
input[type="email"], input[type="password"] {
  width: 100%;
  height: 50px !important;
  font-size: larger !important;
}
a{
margin-left: 160px !important;
}
}

.container {
    height: 400px;
    width: 500px;
    margin: 90px auto;
    background-color: rgba(2, 14, 56, 0.6);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 8px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: medium;
    color: #fff;
}

 input[type="password"]::placeholder {
    color: #fff;
}
input[type="email"]::placeholder {
    color: #fff;
}
input[type="email"], input[type="password"] {
    width: 100%;
    height: 40px;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.5);
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: medium;
    color: #fff;
}

button[type="submit"] {
    background-color: transparent;
    outline: 2px solid #fff;
    color: #fff;
    padding: 10px 90px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: larger;
    width: 100%;
}

p{
  margin-top: 15px;
  color: #fff;
}
a{
  color: #fff;
  text-decoration: none;
  margin-left: 250px;
}
.error-message {
    color: #f00;
    font-size: 12px;
    margin-top: 5px;
}